@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;400;700&display=swap'); */

html {
  /* scroll-behavior: smooth !important; */
  max-width: 100vh;
  overflow-x: hidden;
}

/* lenis */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html,
body {
  /* overscroll-behavior-y: contain; */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  /* font-family: 'Lato'; */
}

.home-intro p {
  @apply text-2xl font-semibold leading-9;
}

html,
body {
  @apply m-0 p-0;
  /* font-family: 'Trebuchet MS', sans-serif; */
}

/* paragraph in markdown entries to have margin */
p {
  @apply my-3;
}

#outstatic
  > div
  > div
  > aside
  > div.scrollbar-hide.flex.h-full.max-h-\[calc\(100vh-96px\)\].flex-col.justify-between.overflow-y-scroll.bg-gray-50.py-4.px-3
  > div {
  display: none;
}

/* remove links from CMS */
#outstatic
  > div
  > div
  > aside
  > div.flex.h-10.w-full.items-center.justify-between.border-t.bg-gray-50.py-2.px-4.text-xs
  > a {
  display: none;
}
#outstatic
  > div
  > div
  > aside
  > div.flex.h-10.w-full.items-center.justify-between.border-t.bg-gray-50.py-2.px-4.text-xs
  > div {
  display: none;
}

/* remove Oustatic title from CMS */
#outstatic > div > nav > div > a > div > svg {
  display: none;
}

/* ARTE SONORA: PAINEL title in CMS */
#outstatic > div > nav > div > a > div::after {
  content: 'ARTE SONORA: PAINEL';
  font-weight: bold;
}

/* TransitionLink component */
#main {
  transition-property: opacity, transform, background, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-transition {
  opacity: 0;
  background: black;
  transform: translateY(40px);
  filter: blur(12px);
}

/* SplitType split text */
.target {
  font-kerning: none;
}
