@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;400;700&display=swap'); */

html,
body {
  overscroll-behavior-y: contain;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.home-intro p {
  @apply text-2xl font-semibold leading-9;
}

html,
body {
  @apply m-0 p-0;
  font-family: 'Trebuchet MS', sans-serif;
}

#outstatic
  > div
  > div
  > aside
  > div.scrollbar-hide.flex.h-full.max-h-\[calc\(100vh-96px\)\].flex-col.justify-between.overflow-y-scroll.bg-gray-50.py-4.px-3
  > div {
  display: none;
}

/* not display Projects in #outstatic */
/* #outstatic
  > div
  > div
  > aside
  > div.scrollbar-hide.flex.h-full.max-h-\[calc\(100vh-96px\)\].flex-col.justify-between.overflow-y-scroll.bg-gray-50.py-4.px-3
  > ul
  > li:nth-child(4) {
  display: none;
} */
